.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
**/*.quarto_ipynb
.~lock.test.ods#
Parents-Presents.Rproj
QTDublinIrish.otf
_extensions
docs
generique.tex
plan_analyse.glg
plan_analyse.glo
plan_analyse.gls
plan_analyse.ist
plan_analyse.pdf
plan_analyse.tex
plan_analyse_cache
plan_analyse_files
test.ods
